[Desktop Entry]
Type=Application
Version=1.0
Name=Install XeroLinux
GenericName=Live Installer
Comment=Install the operating system to disk
Exec=sudo -E calamares
Icon=calamares
Terminal=false
StartupNotify=true
Type=Application
Categories=Qt;System;
